<header>
    <div class="logo">
        <NavLink href="/" class="nav-link logo" active-class="active">MANERO</NavLink>
    </div>
    <nav>
        <ul>
            <li><NavLink href="/products" class="nav-link links" active-class="active">Shop</NavLink></li>
            <li><NavLink href="/contact" class="nav-link links" active-class="active">Contact</NavLink></li>
            <li><NavLink href="/account" class="nav-link links" active-class="active">Account</NavLink></li>
            <li><NavLink href="/cart"><i class="fa-regular fa-bag-shopping header-bag"></i></NavLink></li>
        </ul>
        <div class="bag-total">$0</div>
    </nav>
</header>
@code {

}
