<header>
    <div class="header-content">
        <a><i class="fa-solid fa-bars-staggered header-bars"></i></a>
        <a><h1>MANERO</h1></a>
        <a href="/cart"><i class="fa-regular fa-bag-shopping header-bag"></i></a>
    </div>
    <div class="bag-total">$0</div>
</header>

@code {

}
