<nav>
    <div class="nav-links">
        <NavLink href="" Match="NavLinkMatch.All"><i class="fa-light fa-house"></i></NavLink>
        <NavLink><i class="fa-light fa-magnifying-glass"></i></NavLink>
        <NavLink href="/cart"><i class="fa-light fa-bag-shopping"></i></NavLink>
        <NavLink><i class="fa-light fa-heart"></i></NavLink>
        <NavLink><i class="fa-light fa-circle-user"></i></NavLink>
    </div>
</nav>

@code {

}
