<link rel="stylesheet" href="ProductColor.razor.css" />


<div class="prod-color">
    <h3>Color</h3>
    <a class="prod-red"></a>
    <a class="prod-lightblue"></a>
    <a class="prod-beige"></a>
    <a class="prod-darkblue"></a>
    <a class="prod-black"></a>
</div>



@code {

}