<div class="product-content">
    <div class="products-text">
        <h2>Best sellers</h2>
        <div class="products-all">
            <a>view all <i class="fa-solid fa-chevron-right"></i></a>
        </div>
    </div>

    <div class="product-grid">
        <ProductCard />
        <ProductCard />
        <ProductCard />
        <ProductCard />
    </div>
</div>
@code {

}
