<div class="product-card">
    <a>
        <div class="product-img">
            <img src="/images/home/clothes-1.jpg" />
        </div>
        <img class="rating" src="/images/home/rating.svg" />
        <p class="product-name">Product Name</p>
        <p class="product-price">$13.37</p>
    </a>
</div>

@code {

}
