.profile-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-rows {
    padding-top: 333px;
    width: 100%;
}

.button-row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-decoration: none; 
    color: inherit;
}

.button-icon {
    width: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
}

.button-arrow {
    width: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}