.container {

}

.product-img {
    display: flex;
    justify-content: center;
}

@media (min-width: 1200px) {
    .product-img img {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 800px) {
    .product-img img {
        width: 100%;
        height: auto;
    }
}


.product-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.product-size {
    margin-top: 25px;
}

.product-color {
    margin-top: 25px;
}

.product-description {
    margin-top: 25px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 15px;
}
