@page "/order"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="products">
    <div class="product">
        <div class="prodimg">
            <h7 class="sale">SALE</h7>
            <img src="/Images/Home/clothes-1.jpg" />
        </div>

        <div class="info-quantity">
            <div class="info">
                <p class="prodDetails">Shirt</p>
                <p class="price">$@basePrice</p>
                <p class="size">Size: M</p>
                <p color>Color: Black</p>
            </div>

            <div class="quantity">
                <button class="plus circle" @onclick="IncreaseQuantity"><i class="fa-solid fa-plus"></i></button>
                <p class="quantityNumber">@quantity</p>
                <button class="minus circle" @onclick="DecreaseQuantity"><i class="fa-solid fa-minus"></i></button>
            </div>
        </div>

    </div>
</div>

<div class="summary">
    <p>Promocode applied</p>
    <i class="fa-solid fa-check"></i>

    <div class="subtotal">
        <h5>Subtotal</h5>
        <h5>$@totalPrice</h5>
    </div>
    <div class="discount">
        <p>Discount</p>
        <p>$0.00</p>
    </div>
    <div class="delivery">
        <p>Delivery</p>
        <p>Free</p>
    </div>
</div>


@code {
    private int quantity = 1;
    private double basePrice = 30.00;
    private double totalPrice;



    private void IncreaseQuantity()
    {
        quantity++;
        totalPrice = basePrice * quantity;
        StateHasChanged();
    }

    private void DecreaseQuantity()
    {
        if (quantity > 1)
        {
            quantity--;
            totalPrice = basePrice * quantity;
            StateHasChanged();
        }
    }
}
